@{ 
    Layout = null;
}
@model IEnumerable<ProyectoAPI.Models.Publicacion>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>TodaviaSirve - Materialize</title>
    <!-- CSS  -->
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Styles.Render("~/bundles/materializer")
    @Scripts.Render("~/bundles/modernizr")
    @*<link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
        <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
        <link href="~/Scripts/node_modules/materialize-css/dist/css/materialize.min.css" rel="stylesheet" />
        <link href="~/Scripts/node_modules/materialize-css/dist/css/materialize.css" rel="stylesheet" media="screen,projection" />
        <link href="~/Scripts/node_modules/materialize-css/dist/css/style.css" rel="stylesheet" media="screen,projection" />*@
</head>
<body>
    <nav class="color-pagina-1" role="navigation">
        <div class="nav-wrapper container">
            
                <a id="logo-container" href="#" class="brand-logo">
                <img class="isologo-header" src="~/img/isologo/logotipo_blanco_completo.png" />
                </a>
          
                <ul class="right hide-on-med-and-down">

                @if (Session["idUsuario"] != null)
                {
                    <li>@Html.ActionLink("Adm. Publicaciones", "Index", "PublicacionCRUD", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Adm. Usuarios", "Index", "UsuarioCRUD", new { area = "" }, null)</li>
                    <li>
                        <a class="dropdown-trigger" href="~/Home/Logout">
                            Salir
                            <i class="material-icons right">exit_to_app</i>
                            @*<span class="personal">Sesion</span>*@
                        </a>
                    </li>
                }
                else
                {
                    <li>
                        <a class="dropdown-trigger" href="~/Home/Login">
                            Ingresar
                            <i class="material-icons right">account_circle</i>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-trigger" href="~/Home/Registro">
                            Registrarse
                            <i class="material-icons right">create</i>
                        </a>
                    </li>
                }

            </ul>
                <ul id="nav-mobile" class="sidenav">
                    @if (Session["idUsuario"] != null)
                    {
                        <li>@Html.ActionLink("Adm. Publicaciones", "Index", "PublicacionCRUD", new { area = "" }, null)</li>
                        <li>@Html.ActionLink("Adm. Usuarios", "Index", "UsuarioCRUD", new { area = "" }, null)</li>
                        <li>
                            <a class="dropdown-trigger" href="~/Home/Logout">
                                Salir
                                <i class="material-icons right">exit_to_app</i>
                                @*<span class="personal">Sesion</span>*@
                            </a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a class="dropdown-trigger" href="~/Home/Login">
                                Ingresar
                                <i class="material-icons right">account_circle</i>
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-trigger" href="~/Home/Registro">
                                Registrarse
                                <i class="material-icons right">create</i>
                            </a>
                        </li>
                    }
                    @*<li><a href="#">Navbar Link</a></li>*@
                    @*<li>@Html.ActionLink("Adm. Publicaciones", "Index", "PublicacionCRUD", new { area = "" }, null)</li>
        <li>@Html.ActionLink("Adm. Usuarios", "Index", "UsuarioCRUD", new { area = "" }, null)</li>*@
                </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>
    <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
            <div class="container">
                <br><br>
                <h1 class="header center teal-text text-lighten-2">No deseches reutiliza</h1>
                @*<div class="row center">
                        <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
                    </div>
                    <div class="row center">
                        <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Get Started</a>
                    </div>*@
                <br><br>
            </div>
        </div>
        <div class="parallax"><img src="~/Content/Images/gente-plantando4.jpg" alt="Unsplashed background img 1"></div>
    </div>


    @* Listado de Publicaciones Recientes *@
    <div class="container">
        <ul class="collection with-header">
            <li class="collection-header"><h5>Publicaciones recientes</h5></li>
            @foreach (var item in (Model))
            {
                <li class="collection-item avatar">
                    @*<img src="~/Content/Images/" + @item.imagen alt="" class="circle">
                        <img src="~/Content/Images/@(item.imagen)" alt="" class="circle">
                        @*<img src="~/Content/Images/" + @item.imagen alt="" class="circle">*@
                    <img src="~/Content/Images/@(item.imagenPortada)" alt="" class="circle">
                    <span class="title"> @item.titulo</span>
                    @*<p>
                            First Line <br>
                            Second Line
                        </p>*@
                    <a href="" class="secondary-content" style="top: 30px;"><i class="material-icons">grade</i></a>
                    <a href="~/PublicacionCRUD/Details/@item.id" class="secondary-content" style="right : 55px;top: 30px;"><i class="material-icons">send</i></a>
                </li>
            }
        </ul>
    </div>

                         @* Video con parrafo *@

    <section id="vid">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <h2 class="mb-3 center black-text">Hazlo tu mismo con todavía sirve</h2>
                    <p>
                        <h6 class="black-text">Con TodavíaSirve podras crear tus propias manualidades de manera rápida y sencilla.<br />
                        Solamente tienes que elegir que materiales quieres reutilizar en que quieres tranformarlo y listo empieza a crear.
                        </h6>
                    </p>
                    <a class="btn btn-info right-align" href="#" role="button">Ver más</a>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <br />
                    <br />
                        <iframe class="responsive-video" width="340" height="315" src="https://www.youtube.com/embed/NjdxpePIIXc?end=30" frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </section>



    <div class="container">
        <div class="section">
            <!--   Icon Section   -->
            <div class="row">
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
                        <h5 class="center">Publicaciones rapidas</h5>
                        <p class="light">
                            We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components.
                            Additionally, we refined animations and transitions to provide a smoother experience for developers.
                        </p>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">group</i></h2>
                        <h5 class="center">Comparte con otros usuarios</h5>
                        <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
                        <h5 class="center">Facil de usar</h5>
                        <p class="light">
                            We have provided detailed documentation as well as specific code examples to help new users get started.
                            We are also always open to feedback and can answer any questions a user may have about Materialize.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                    <h5 class="header col s12 light">Columpios en un parque</h5>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="~/Content/Images/columpios-parque.jpg" alt="Unsplashed background img 2"></div>
    </div>
    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s12 center">
                    <h3><i class="mdi-content-send brown-text"></i></h3>
                    <h4>Reutilización</h4>
                    <p class="left-align light">
                        Ya sea entendido como proceso de reconstrucción o transformación de productos de desecho en
                        nuevos materiales a nivel industrial, como si se trata de un reciclaje doméstico, el reciclaje ayuda a prolongar la vida
                        y utilidad de los recursos.
                        Sus beneficios, por lo tanto, serán tanto para los seres humanos como para el medio ambiente.;
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="container">
                <div class="row center">
                    <h5 class="header col s12 light">Plantando en botellas recicladas</h5>
                </div>
            </div>
        </div>
        <div class="parallax"><img src="~/Content/Images/plantar-plantulas.jpg" alt="Unsplashed background img 3"></div>
    </div>
    <footer class="page-footer teal">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Biografia</h5>
                    <p class="grey-text text-lighten-4">
                        Somos un equipo de estudiantes universitarios que trabajamos en este proyecto como si fuera nuestro trabajo de tiempo completo.
                        Buscamos ayudar a construir un mundo mejor a traves de la reutilización y esto nos inspira.
                        @* Any amount would help support and continue development on this project and is greatly appreciated.*@
                    </p>

                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Extras</h5>
                    <ul>
                        <li><a class="white-text" href="#!">Publicaciones</a></li>
                        <li><a class="white-text" href="#!">Pinterest</a></li>
                        <li><a class="white-text" href="#!">Youtube</a></li>
                        <li><a class="white-text" href="#!">Reconocimiento Imagenes</a></li>
                    </ul>
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Contacto</h5>
                    <ul>
                        <li><a class="white-text" href="#!">RoberFernandez@company.co</a></li>
                        <li><a class="white-text" href="#!">JoseGuinovart@company.co</a></li>
                        <li><a class="white-text" href="#!">MichaelValencia@company.co</a></li>
                        <li><a class="white-text" href="#!">LucasRanoni@company.co</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Made by <a class="brown-text text-lighten-3">TodaviaSirve</a>
            </div>
        </div>
    </footer>

    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    @Scripts.Render("~/bundles/materialize")
    @*@RenderSection("scripts", required: false)*@
    @*<script src="js/materialize.js"></script>
        <script src="js/init.js"></script>
        <script src="~/Scripts/node_modules/materialize-css/dist/js/materialize.min.js"></script>
        <script src="~/Scripts/node_modules/materialize-css/dist/js/materialize.js"></script>
        <script src="~/Scripts/node_modules/materialize-css/dist/js/init.js"></script>*@
</body>
</html>
