@model ProyectoAPI.Models.Usuario
<style>
    .card {
        margin-top: 0px;
        /*margin-left: 100px;*/
    }
    .contra {
        float:right;
        position: relative;
        margin-top:0px;
    }

</style>
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
<div class="micontainer">
    <div class="row login justify-content-center">
        <div class="col col-md-12">
            <div class="card center-align col-md-12">

                <div class="card-action teal green white-text ">
                    <h4>Registro</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                </div>
                @* <div class="row login justify-content-center">*@
                <div class="row">
                    <div class="form-group col-md-6">
                        @Html.Label("Usuario", htmlAttributes: new { @class = "" })
                        @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "" } })
                        @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-6">
                        @Html.Label("Contraseña", htmlAttributes: new { @class = "" })
                        @Html.EditorFor(model => model.pass, new { @type = "password" })
                        @Html.ValidationMessageFor(model => model.pass, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        @Html.Label("Nombre", htmlAttributes: new { @class = "" })
                        @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "" } })
                        @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group col-md-6">
                        @Html.Label("Apellido", htmlAttributes: new { @class = "" })
                        @Html.EditorFor(model => model.apellido, new { htmlAttributes = new { @class = "" } })
                        @Html.ValidationMessageFor(model => model.apellido, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group center-align">
                    @Html.Label("Email", htmlAttributes: new { @class = "" })
                    @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "" } })
                    @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                </div>
                <div class="form-group center-block">
                    <div class="col-md-offset-2 col-md-8">
                        <input type="submit" value="Registrar" class="btn btn-default" />
                    </div>
                </div>
            </div>
                </div>
            </div>
        </div>
      
        }

