<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Styles.Render("~/bundles/materializer")
    @Scripts.Render("~/bundles/modernizr")

</head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<body class="body-gradiente">
    <header class="navbar navbar-inverse navbar-fixed-top color-pagina-1">
        <div class="container">
            <div class="white-text navbar-header ancho-header">
                <a id="logo-container" href="#" class="brand-logo"><img class="isologo-header" src="~/img/isologo/logotipo_blanco_completo.png" /></a>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Adm. Publicaciones", "Index", "PublicacionCRUD", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Adm. Usuarios", "Index", "UsuarioCRUD", new { area = "" }, null)</li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>

                        @*  @if (Session["idUsuario"] != null)
                                 {
                            @Html.ActionLink("Cerrar sesión", "Logout", "Home", null, new { @class = "nav-link" })
                            @Html.ActionLink("Cerrar sesión", "Logout", "Home", null, new { @class = "nav-link" })
                            <a href="~/Home/Login"><i class="material-icons">account_box</i></a>
                            }
                        *@
                        <a href="~/Home/Login">Sesion<i class="material-icons">account_box</i></a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <div class="container-fluid-mio">
        @RenderBody()
    </div>

    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/node_modules/materialize-css/dist/js/materialize.js"></script>
    <script src="~/Scripts/node_modules/materialize-css/dist/js/materialize.min.js"></script>
    <script src="~/Scripts/node_modules/materialize-css/Gruntfile.js"></script>
    @* @Scripts.Render("~/bundles/materializerjs")*@
    @RenderSection("scripts", required: false)
</body>
</html>
