<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!--Font Awesome-->
    <script src="https://kit.fontawesome.com/2640d96bb3.js"></script>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/bundles/materializer")
    @Scripts.Render("~/bundles/modernizr")

</head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<body class="body-gradiente">
    <nav class="color-pagina-1" role="navigation">
        <div class="nav-wrapper container">

            <a id="logo-container" href="~/Home/Publicacion" class="brand-logo">
                <img class="isologo-header" src="~/img/isologo/logotipo_blanco_completo.png" />
            </a>

            <ul class="right hide-on-med-and-down">

                @if (Session["idUsuario"] != null)
                {
                    if (Session["esAdmin"] != null)
                    {
                    <li>@Html.ActionLink("Adm. Publicaciones", "Index", "PublicacionCRUD", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Adm. Usuarios", "Index", "UsuarioCRUD", new { area = "" }, null)</li>
                    }
                    <li>
                        <a class="dropdown-trigger" href="~/Home/Logout">
                            Salir
                            <i class="material-icons right">exit_to_app</i>
                            @*<span class="personal">Sesion</span>*@
                        </a>
                    </li>
                }
                else
                {
                    <li>
                        <a class="dropdown-trigger" href="~/Home/Login">
                            Ingresar
                            <i class="material-icons right">account_circle</i>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-trigger" href="~/Home/Registro">
                            Registrarse
                            <i class="material-icons right">create</i>
                        </a>
                    </li>
                }

            </ul>
            <ul id="nav-mobile" class="sidenav">
                @if (Session["idUsuario"] != null)
                {
                    if (Session["esAdmin"] != null)
                    {
                    <li>@Html.ActionLink("Adm. Publicaciones", "Index", "PublicacionCRUD", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Adm. Usuarios", "Index", "UsuarioCRUD", new { area = "" }, null)</li>
                    }
                    <li>
                        <a class="dropdown-trigger" href="~/Home/Logout">
                            Salir
                            <i class="material-icons right">exit_to_app</i>
                            @*<span class="personal">Sesion</span>*@
                        </a>
                    </li>
                }
                else
                {
                    <li>
                        <a class="dropdown-trigger" href="~/Home/Login">
                            Ingresar
                            <i class="material-icons right">account_circle</i>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-trigger" href="~/Home/Registro">
                            Registrarse
                            <i class="material-icons right">create</i>
                        </a>
                    </li>
                }
                @*<li><a href="#">Navbar Link</a></li>*@
                @*<li>@Html.ActionLink("Adm. Publicaciones", "Index", "PublicacionCRUD", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Adm. Usuarios", "Index", "UsuarioCRUD", new { area = "" }, null)</li>*@
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>
    @*<header class="navbar navbar-inverse navbar-fixed-top limit-header">
            <div class="container logo-position">
                <div class="white-text">
                    <a id="logo-container" href="~/Home/Publicacion" class="brand-logo"><img class="isologo-header" src="~/img/isologo/logotipo_blanco_completo.png" /></a>
                    <div class=" collapse">
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Inicio", "Index", "Home", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Adm. Publicaciones", "Index", "PublicacionCRUD", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Adm. Usuarios", "Index", "UsuarioCRUD", new { area = "" }, null)</li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>*@
    <div class="container-fluid-mio">
        @RenderBody()
    </div>

    <hr />
    <footer>
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Biografia</h5>
                    <p class="grey-text text-lighten-4">
                        Somos un equipo de estudiantes universitarios que trabajamos en este proyecto como si fuera nuestro trabajo de tiempo completo.
                        Buscamos ayudar a construir un mundo mejor a traves de la reutilización y esto nos inspira.
                        @* Any amount would help support and continue development on this project and is greatly appreciated.*@
                    </p>

                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Extras</h5>
                    <ul>
                        <li><a class="white-text" href="~/Home/Publicacion">Publicaciones</a></li>
                        <li><a class="white-text" href="#!">Pinterest</a></li>
                        <li><a class="white-text" href="#!">Youtube</a></li>
                        <li><a class="white-text" href="#!">Reconocimiento Imagenes</a></li>
                    </ul>
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Contacto</h5>
                    <ul>
                        <li><a class="white-text" href="#!">RoberFernandez@company.co</a></li>
                        <li><a class="white-text" href="#!">JoseGuinovart@company.co</a></li>
                        <li><a class="white-text" href="#!">MichaelValencia@company.co</a></li>
                        <li><a class="white-text" href="#!">LucasRanoni@company.co</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Made by <a class="brown-text text-lighten-3">TodaviaSirve</a>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/node_modules/materialize-css/dist/js/materialize.js"></script>
    <script src="~/Scripts/node_modules/materialize-css/dist/js/materialize.min.js"></script>
    <script src="~/Scripts/node_modules/materialize-css/Gruntfile.js"></script>
    @* @Scripts.Render("~/bundles/materializerjs")*@
    @RenderSection("scripts", required: false)
</body>
</html>
