@model ProyectoAPI.Models.Suscriptor
@{
    ViewBag.Title = "Create";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    @Styles.Render("~/Content/css")
    @Styles.Render("~/bundles/materializer")
    @Scripts.Render("~/bundles/modernizr")

</head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<body class="body-gradiente">
    <nav class="color-pagina-1" role="navigation">
        <div class="nav-wrapper container">

            <a id="logo-container" href="#" class="brand-logo">
                <img class="isologo-header" src="~/img/isologo/logotipo_blanco_completo.png" />
            </a>

            
            <ul id="nav-mobile" class="sidenav">
                @if (Session["idUsuario"] != null)
                {
                    if (Session["esAdmin"] != null)
                    {
                        <li>@Html.ActionLink("Adm. Publicaciones", "Index", "PublicacionCRUD", new { area = "" }, null)</li>
                        <li>@Html.ActionLink("Adm. Usuarios", "Index", "UsuarioCRUD", new { area = "" }, null)</li>
                    }
                    <li>
                        <a class="dropdown-trigger" href="~/Home/Logout">
                            Salir
                            <i class="material-icons right">exit_to_app</i>
                            @*<span class="personal">Sesion</span>*@
                        </a>
                    </li>
                }
                else
                {
                    <li>
                        <a class="dropdown-trigger" href="~/Home/Login">
                            Ingresar
                            <i class="material-icons right">account_circle</i>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-trigger" href="~/Home/Registro">
                            Registrarse
                            <i class="material-icons right">create</i>
                        </a>
                    </li>
                }
                @*<li><a href="#">Navbar Link</a></li>*@
                @*<li>@Html.ActionLink("Adm. Publicaciones", "Index", "PublicacionCRUD", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Adm. Usuarios", "Index", "UsuarioCRUD", new { area = "" }, null)</li>*@
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>
    <div class="green-text text-center texto-sombra">
        <div class="container-fluid-mio">
            <h1>No deseches reutiliza</h1>
            <h3>Piensa en todo lo que puedes llegar a crear y ayudar al medio ambiente.</h3>
            <div class="row body-suscribir">
                <div class="col-6">

                </div>
                <div class="col-6 mitad">
                    <h4>Suscribete a nuestro sitio y recibe una cuenta premium con nuestros beneficios</h4>
                    <div class="form-personalizado white-text">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                <h6>E-Mail</h6>
                                <div class="col-md-10 boton-centrado">
                                    @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10 boton-centrado">
                                    <input type="submit" value="Suscribirse" class="btn btn-default" />
                                </div>
                            </div>
                        }
                    </div>
                    <h2>Beneficios</h2>
                    <div>
                        <div class="row">
                            <div class="col l6 s12 fondos-varios">
                                <h4>Acceso a contenido exclusivo</h4>
                                <h6 class="text-lighten-4">
                                    Al tener tu cuenta premium tienes acceso a nuestro contenido exclusivo ántes que nadie.
                                </h6>
                            </div>
                            <div class="col l3 s12 fondos-varios">
                                <h4>Acceso a funciones exclusivas y betas</h4>
                                <h6 class="text-lighten-4">
                                    También tendrás acceso a nuevas y exclusivas funciones como vender tus creaciones y publicaciones
                                    con mayor visibilidad. Haz que tus creaciones tengan valor.
                                </h6>
                            </div>
                            <div class="col l3 s12 fondos-varios">
                                <h4>Se parte de nuestro staff</h4>
                                <h6 class="text-lighten-4">
                                    Tendrás la oportunidad de ser parte de nuestro equipo, creando contenido exclusivo y usar nuestro logo y ser parte de
                                    nuestra comunidad de canales en Youtube.
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <hr />
    <footer>
        <div class="footer-copyright">
            <div class="container">
                Made by <a class="brown-text text-lighten-3">TodaviaSirve</a>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/node_modules/materialize-css/dist/js/materialize.js"></script>
    <script src="~/Scripts/node_modules/materialize-css/dist/js/materialize.min.js"></script>
    <script src="~/Scripts/node_modules/materialize-css/Gruntfile.js"></script>
    @* @Scripts.Render("~/bundles/materializerjs")*@
    @*@RenderSection("scripts", required: false)*@
</body>
</html>
