@model ProyectoAPI.Models.Publicacion

@{
    ViewBag.Title = "Delete";
}
<div class="micontainer">
    <div class="card">
        <h2>Delete</h2>
        <div class="card-content">
        <h3>Are you sure you want to delete this?</h3>
        <div>
            <h4>Publicacion</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.titulo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.titulo)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.subtitulo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.subtitulo)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.descripcion)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.descripcion)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.fechaSubida)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.fechaSubida)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.imagenPortada)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.imagenPortada)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-default" /> |
                    @Html.ActionLink("Back to List", "Index")
                </div>
            }
        </div>
        </div>
    </div>
</div>