@model ProyectoAPI.Models.Publicacion

@{
    ViewBag.Title = "Details";
}
<div class="container">
    <div class="card">
        <h2>Details</h2>

        <div>
            <h4>Publicacion</h4>
            <hr />
            <div class="card-content">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.titulo)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.titulo)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.subtitulo)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.subtitulo)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.descripcion)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.descripcion)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.fechaSubida)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.fechaSubida)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.imagenPortada)
                    </dt>

                    <dd>
                        <img src="~/Content/Images/@Html.DisplayFor(model => model.imagenPortada)" alt="avatar" height="200" width="200" />
                        @Html.DisplayFor(model => model.imagenPortada)
                    </dd>

                    <div class="col-md-12">
                        <ul class="list-group">
                            <li class="list-group-item">Pasos</li>
                            @foreach (var usr in ViewBag.listadoPasos)
                            {
                           
                                <div class="col-md-12">
                                    <li>
                                        @usr.descripcion
                                     <img  src="~/Content/Images/@usr.imagen" alt="avatar" height="200" width="200" />
                                    </li>
                                </div>
                          
                               
                            }
                        </ul>
                    </div>
                    @*@foreach (var item in ((List<ProyectoAPI.Models.Paso>)ViewBag.listadoPasos))
                    {
                        <dt>
                            @Html.DisplayName(item.descripcion)
                        </dt>

                        <dd>
                            @Html.DisplayName(item.imagen)
                        </dd>

                    }*@
                </dl>
            </div>
        </div>


        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
</div>