@model ProyectoAPI.Models.Publicacion

@{
    /**/

    ViewBag.Title = "Detalles";
    int i = 0;
}


<div class="micontainer">
    <div class="micard">
        <h2>@Html.DisplayFor(model => model.titulo)</h2>

        <div>
            <h4>@Html.DisplayFor(model => model.subtitulo)</h4>
            @Html.DisplayFor(model => model.fechaSubida)
            <hr />
            <div class="card-content">
                <dl class="dl-horizontal">


                    <dd>
                        <img class="img-portada" src="~/Content/Images/@Html.DisplayFor(model => model.imagenPortada)" alt="avatar" height="200" width="200" />

                    </dd>


                    <dt>
                        DESCRIPCION
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.descripcion)
                    </dd>


                </dl>

            </div>
            <div class="col-md-12">
                <ul class="list-group">
                    <li class="list-group-item">Pasos</li>

                    <div class="micontainer">
                        <div class="panel panel-default">
                            <div class="panel-body">

                                <div class="steppermike">
                                    @foreach (var usr in ViewBag.listadoPasos)
                                    {
                                        i++;
                                        <!--Contenido Inicio-->
                                        <div class="stepstds mistep_@i">
                                            <div>
                                                <p><h4>Paso @i</h4></p>
                                                <img class="image-steps" src="~/Content/Images/@usr.imagen" alt="avatar" height="200" width="200" />
                                                <br />
                                                <br />
                                                <p class="font-weight-normal">@usr.descripcion</p>

                                            </div>
                                        </div>
                                    }

                                    <br />
                                    <!--Contenido Fin-->
                                    <div class="pasitos">
                                        <p>

                                            @for (int l = 1; l <= i; l++)
                                            {
                                                <!--Pasos inicio-->
                                                if (l == 1)
                                                {
                                                    <a class="selectlink_@l btn yoteeligo" href="javascript:Seleccionar(@l);">@l </a>
                                                }
                                                else
                                                {
                                                    <a class="selectlink_@l btn" href="javascript:Seleccionar(@l);">@l </a>
                                                }


                                                <!--Pasos Fin-->
                                            }
                                        </p>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </ul>
            </div>
        </div>


        <p>
            <a href="../Edit/@Model.id" class="btn">Editar</a>
            <a href="../Index" class="btn">Volver</a>
        </p>
    </div>
    <script>
        var cantidadPasos = document.getElementsByClassName("stepstds").length;//5

        var pasoActual = document.getElementsByClassName("yoteeligo")[0].classList[0];
        pasoActual = pasoActual.substr(-1);

        for (cant = 1; cant <= cantidadPasos; cant++) {
            //1,2,3,4,5
            if (cant != pasoActual) {
                var divPaso = document.getElementsByClassName("mistep_" + cant);
                console.log(divPaso[0]);
                divPaso[0].classList.add("ocultar");
            } else {
                var divPaso = document.getElementsByClassName("mistep_" + cant);
                divPaso[0].classList.add("mostrar");
            }
        }

        function Seleccionar(paso) {
            for (cant = 1; cant <= cantidadPasos; cant++) {

                if (cant != paso) {
                    var divPaso = document.getElementsByClassName("mistep_" + cant);
                    divPaso[0].classList.remove("mostrar");
                    divPaso[0].classList.add("ocultar");
                } else {
                    var divPaso = document.getElementsByClassName("mistep_" + cant);
                    divPaso[0].classList.remove("ocultar");
                    divPaso[0].classList.add("mostrar");
                }
            }
        }




    </script>
</div>
