@model ProyectoAPI.Models.Publicacion

@{
    ViewBag.Title = "Details";
}

<div class="container">
    <div class="row">
        <div class="titulo-detalle">
            <h2>@Html.DisplayFor(model => model.titulo)</h2>
        </div>
        <hr />
        <div>
            <span>@Html.DisplayFor(model => model.subtitulo)</span>
        </div>
        <div>
            <span>@Html.DisplayFor(model => model.descripcion)</span>
        </div>
        <div>
            @Html.DisplayFor(model => model.imagenPortada)
        </div>
        <div>
            @Html.DisplayFor(model => model.fechaSubida)
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
